* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1440px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #19d3c9;
  background: url("./../img/BG.png") center no-repeat;
  padding: 50px;
  min-height: 720px;
  border: none;
  margin: 0;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #061e37;
  padding: 50px;
  margin-top: 50px;
  border: none;
}

section {
  padding: 50px;
  color: #061e37;
}

@font-face {
  font-family: 'Raleway Semibold';
  src: url("../fonts/Raleway-SemiBold.eot");
  src: url("../fonts/Raleway-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-SemiBold.woff") format("woff"), url("../fonts/Raleway-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway Regular';
  src: url("../fonts/Raleway-Regular.eot");
  src: url("../fonts/Raleway-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Regular.woff") format("woff"), url("../fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Raleway Regular', sans-serif;
}

.dot {
  display: inline-block;
  margin: auto 20px;
  width: 5px;
  height: 5px;
  background-color: #fff;
  border-radius: 50%;
}

.social {
  margin-top: 50px;
}

.social-link {
  margin-left: 20px;
}

.social-icon {
  opacity: 0.2;
}

.social-icon:hover {
  opacity: 1;
}

.title-wrap {
  margin: 0 auto;
  max-width: 560px;
  padding: 0;
  text-align: center;
}

.title-wrap .title {
  font-size: 45px;
  margin: 0;
}

.title-wrap .description {
  margin: 0;
  padding-top: 20px;
  font-size: 15px;
  line-height: 25px;
  color: #78909c;
  font-family: 'Raleway Regular', sans-serif;
}

.navbar__wrap {
  min-height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__logo {
  min-width: 180px;
  height: 30px;
}

.navbar__nav {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navbar__link {
  font-size: 15px;
  margin: 0 25px;
  text-decoration: none;
  color: #fff;
  font-family: 'Raleway Regular', sans-serif;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.navbar__link:hover {
  color: #061e37;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.navbar__btn {
  width: 80px;
  height: 25px;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 3px;
  color: #ffffff;
  text-transform: lowercase;
  font-size: 12px;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: 'Raleway Regular', sans-serif;
}

.navbar__btn:hover {
  color: #061e37;
  border-color: #061e37;
  -webkit-transform: none;
          transform: none;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #ffffff;
  margin: auto 0;
}

.hero__title {
  max-width: 475px;
  font-size: 55px;
  text-align: left;
  line-height: 65px;
  margin-bottom: 0;
}

.hero__subtitle {
  margin-top: 0;
  max-width: 580px;
  font-size: 18px;
  text-align: left;
  line-height: 35px;
}

.hero__video-preview {
  height: 100%;
}

button {
  width: 150px;
  height: 60px;
  color: #fff;
  border: none;
  font-size: 15px;
  background-color: #061e37;
  text-transform: uppercase;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-family: 'Raleway Semibold', sans-serif;
}

button:hover {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.btn-buy {
  margin-right: 30px;
}

.btn-try {
  background-color: #fff;
  color: #061e37;
}

.video-container {
  position: relative;
  width: 600px;
  height: 320px;
}

.btn-play {
  width: 62px;
  height: 62px;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  -webkit-transform: translate(-31px, -31px);
          transform: translate(-31px, -31px);
}

.btn-play:hover {
  -webkit-transform: translate(-31px, -31px) scale(1.1);
          transform: translate(-31px, -31px) scale(1.1);
}

.easy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.easy__title {
  font-size: 45px;
  font-family: 'Raleway Semibold', sans-serif;
  margin: 0;
}

.easy__title-wrap {
  max-width: 570px;
  text-align: center;
}

.easy__subtitle {
  color: #b0bec5;
  font-size: 25px;
  margin: 10px;
  font-family: 'Raleway Semibold', sans-serif;
}

.easy__description {
  color: #b0bec5;
  font-size: 15px;
  line-height: 25px;
}

.easy__presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 50px;
}

.easy__presentation-item {
  max-width: 350px;
  margin: 0 25px;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.easy__presentation-item:hover {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 3px 5px 0 #1de9b6;
          box-shadow: 0 3px 5px 0 #1de9b6;
}

.item-icon {
  margin-top: 10px;
}

.item-title {
  font-size: 20px;
  margin-bottom: 20px;
}

.item-description {
  margin-top: 0;
  text-align: center;
  color: #b0bec5;
  font-size: 15px;
  line-height: 25px;
}

.btn-start {
  width: 150px;
  height: 55px;
  background-color: #1de9b6;
  text-transform: uppercase;
  font-family: 'Raleway Semibold', sans-serif;
}

.footer__other-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 50px;
}

.footer__other-links-item {
  text-decoration: none;
  color: #fff;
  opacity: 0.5;
}

.footer__other-links-item:hover {
  opacity: 1;
}

.footer__right {
  text-align: right;
}

.footer__menu-item {
  text-decoration: none;
  color: #fff;
  font-family: 'Raleway Semibold', sans-serif;
  margin-left: 50px;
}

.footer__menu-item:hover {
  border-bottom: 2px solid #fff;
}

.counts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
}

.counts-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100%;
}

.counts-item:nth-child(1) {
  background-color: #80d8ff;
}

.counts-item:nth-child(2) {
  background-color: #82b1ff;
}

.counts-item:nth-child(3) {
  background-color: #b388ff;
}

.counts-item:nth-child(4) {
  background-color: #ea80fc;
}

.counts-item-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.counts-icon {
  display: block;
  margin: auto;
}

.counts-icon-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 60px;
  margin-right: 20px;
  border-radius: 50%;
  background-color: #fff;
}

.counts-title {
  max-width: 120px;
  color: #fff;
  font-family: 'Raleway Semibold', sans-serif;
  font-size: 20px;
  line-height: 25px;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services__title-wrap {
  max-width: 560px;
  text-align: center;
}

.services__description {
  color: #b0bec5;
  font-size: 15px;
  line-height: 25px;
}

.services__accordion {
  width: 800px;
}

.services__accordion-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  justify-items: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 50px;
  margin: 20px 0;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.services__accordion-item:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#80d8ff), to(#82b1ff));
  background: linear-gradient(#80d8ff, #82b1ff);
}

.services__accordion-item input[type="checkbox"] {
  display: none;
}

.services__accordion-item input[type="checkbox"]#statistics:checked ~ .services__accordion-item-content-statistics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 25px;
}

.services__accordion-item input[type="checkbox"]#statistics:checked ~ .services__accordion-item-content-statistics img {
  margin-right: 25px;
}

.services__accordion-item input[type="checkbox"]#statistics:checked ~ label[for="statistics"] .arrow-drop-down {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.services__accordion-item input[type="checkbox"]#inbox:checked ~ .services__accordion-item-content-inbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 25px;
}

.services__accordion-item input[type="checkbox"]#inbox:checked ~ .services__accordion-item-content-inbox img {
  margin-right: 25px;
}

.services__accordion-item input[type="checkbox"]#inbox:checked ~ label[for="inbox"] .arrow-drop-down {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.services__accordion-item input[type="checkbox"]#team:checked ~ .services__accordion-item-content-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 25px;
}

.services__accordion-item input[type="checkbox"]#team:checked ~ .services__accordion-item-content-team img {
  margin-right: 25px;
}

.services__accordion-item input[type="checkbox"]#team:checked ~ label[for="team"] .arrow-drop-down {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.services__accordion-item input[type="checkbox"]#settings:checked ~ .services__accordion-item-content-settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 25px;
}

.services__accordion-item input[type="checkbox"]#settings:checked ~ .services__accordion-item-content-settings img {
  margin-right: 25px;
}

.services__accordion-item input[type="checkbox"]#settings:checked ~ label[for="settings"] .arrow-drop-down {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.services__accordion-item input[type="checkbox"]#feed:checked ~ .services__accordion-item-content-feed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 25px;
}

.services__accordion-item input[type="checkbox"]#feed:checked ~ .services__accordion-item-content-feed img {
  margin-right: 25px;
}

.services__accordion-item input[type="checkbox"]#feed:checked ~ label[for="feed"] .arrow-drop-down {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.services__accordion-item label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 15px auto;
}

.services__accordion-item label span {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-item-align: left;
      -ms-grid-row-align: left;
      align-self: left;
  text-transform: uppercase;
  font-size: 15px;
  font-family: 'Raleway Semibold', sans-serif;
}

.services__accordion-item label img {
  margin: auto 25px;
}

.services__accordion-item-content-statistics {
  display: none;
}

.services__accordion-item-content-inbox {
  display: none;
}

.services__accordion-item-content-team {
  display: none;
}

.services__accordion-item-content-settings {
  display: none;
}

.services__accordion-item-content-feed {
  display: none;
}

.arrow-drop-down {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 565px;
  background: url("../../img/testimonials-BG.png");
  padding: 0 50px;
}

.testimonials__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.testimonials__description-title {
  font-size: 45px;
  font-family: 'Raleway Semibold', sans-serif;
  max-width: 450px;
}

.testimonials__description-title-wrapper {
  margin: 0;
  width: 520px;
  color: #ffffff;
}

.testimonials__description-text {
  font-size: 15px;
  line-height: 25px;
}

.testimonials__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 50px;
}

.btn {
  width: 150px;
  height: 60px;
  color: #fff;
  border: none;
  font-size: 15px;
  background-color: #061e37;
  text-transform: uppercase;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-family: 'Raleway Semibold', sans-serif;
}

.btn:hover {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.slider__btn {
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: 0.5;
}

.slider__btn:hover {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.slider__item {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider__item .avatar {
  margin-right: 50px;
  -webkit-filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.15));
}

.slider__item .message {
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.15);
  padding: 20px;
  margin: 25px 0;
}

.slider__item .message .name {
  font-size: 18px;
  line-height: 25px;
  font-family: 'Raleway Semibold', sans-serif;
  margin: 0;
}

.slider__item .message .text {
  margin: 0;
  padding-top: 20px;
  font-size: 15px;
  line-height: 25px;
  font-style: italic;
  color: #78909c;
  font-family: 'Raleway Regular', sans-serif;
}

.slider__item.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team {
  text-align: center;
}

.team__our-team {
  max-width: 650px;
  margin: 0 auto;
  padding: 0;
}

.team__our-team .member-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
}

.team__our-team .member-wrap .avatar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  opacity: 0.2;
  margin: 0 25px;
}

.team__our-team .member-wrap .avatar.active {
  width: 160px;
  height: 160px;
  opacity: 1;
}

.team__our-team .member-wrap .avatar.active img {
  margin: 0;
  border-radius: 50%;
}

.team__our-team .member-wrap .avatar.active .over {
  border-radius: 50%;
  margin: 0;
  position: absolute;
  min-width: 160px;
  height: 160px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-box-shadow: inset 0 0 10px 10px rgba(0, 0, 0, 0.8), 0 5px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0 10px 10px rgba(0, 0, 0, 0.8), 0 5px 5px 0 rgba(0, 0, 0, 0.2);
}

.team__our-team .description-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team__our-team .description-wrap .name {
  margin: 0;
  padding-top: 20px;
}

.team__our-team .description-wrap .text {
  margin: 0;
  padding-top: 20px;
  font-size: 15px;
  line-height: 25px;
  color: #78909c;
  font-family: 'Raleway Regular', sans-serif;
}

.team .social {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 25px;
}

.contact-form .contact-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.contact-form .button-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.contact-form .right-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-left: 20px;
}

.contact-form .left-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-right: 20px;
}

.contact-form input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 10px 0;
  height: 50px;
  padding: 20px;
  border: 1px solid #061e37;
  border-radius: 5px;
}

.contact-form input[type="checkbox"] {
  display: none;
}

.contact-form input[type="checkbox"]#subscribe:checked ~ label::before {
  width: 15px;
  height: 7px;
  border-top: none;
  border-right: none;
  border-color: #1de9b6;
  -webkit-transform: translate(0, -5px) rotate(-45deg);
          transform: translate(0, -5px) rotate(-45deg);
}

.contact-form input[type="button"] {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 150px;
  height: 55px;
  color: #ffffff;
  background-color: #1de9b6;
  text-transform: uppercase;
  border: none;
  -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.15);
  font-family: 'Raleway Regular', sans-serif;
}

.contact-form textarea {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  height: 150px;
  resize: none;
  padding: 20px;
  margin: 10px 20px;
  border: 1px solid #061e37;
  border-radius: 5px;
}

.contact-form label {
  position: relative;
  cursor: pointer;
}

.contact-form label::before {
  display: inline-block;
  content: "";
  width: 10px;
  height: 10px;
  border: 1px solid #061e37;
  border-radius: 2px;
  margin-right: 10px;
  background-color: #ffffff;
}
/*# sourceMappingURL=style.css.map */