body
    margin: 0
    +regular
.dot
    display: inline-block
    margin: auto 20px
    width: 5px
    height: 5px
    background-color: #fff
    border-radius: 50%

.social
    margin-top: 50px
    &-link
        margin-left: 20px
    &-icon
        opacity: 0.2
        &:hover
            opacity: 1
// button:focus
//     outline: none